/* ===================================================================== MAIN ===================================================================== */

#admin_wrap {width:100%; margin:0;padding:0;border:0px solid black;}
#header {width:100%;height:97px;border:0px solid blue;margin:0px;padding:0px;}
#admin_container {float:left;width:100%;margin-top:15px;_margin-top:14px; background-color:#f2f2f2;border:0px solid red;}
.admin_container_bg {width:100%; min-width:956px;border:0px solid red;padding:0px;margin:0px;height:4px;}
.admin_container_bg li {float:left;border:0px solid red;height:4px;_margin-bottom:-10px;}
.admin_container_bg li.container_left{width:1%;background:url(../../images/inc/box01_01.gif) no-repeat 2px 0px;}
.admin_container_bg li.container_right{width:99%;background:url(../../images/inc/box01_02.gif) repeat-x;}

#admin_contents {width:1230px;border:0px solid red;margin-left:2px;}
#admin_contents2 {width:1149px;border:0px solid red;margin-left:2px;border:0px solid black;}
#admin_contents3 {width:1249px;border:0px solid red;margin-left:2px;border:0px solid black;}
#left {float:left;width:205px;_margin-right:-3px;}
#center {width:1000px;float:left;border-left:1px solid #cbccce;border-right:1px solid #cbccce;background-color:#ffffff;min-height:860px;}
#center2 {width:942px;float:left;border-left:1px solid #cbccce;border-right:1px solid #cbccce;background-color:#ffffff;min-height:860px;}
#center3 {width:1042px;float:left;border-left:1px solid #cbccce;border-right:1px solid #cbccce;background-color:#ffffff;min-height:860px;}
#center_bg {height:100%;background:url(../../images/inc/allBg.gif) repeat-y right;display:inline-block;}

#right_arrow {position:absolute;border:0px solid red;height:30px;margin-left:-9px;margin-top:200px;}
*html #right_arrow {display:inline;width:8px;border:0px solid red;left:20px;}

#admin_footer {clear:both;height:20px;background:url(../../images/inc/box01_02.gif) repeat-x;padding:12px 0 0 360px;font-size:11px;}

#logo_util {width:1150px;height:63px;border:0px solid red;}

h1{float:left;margin:27px 0 0 14px;_margin-left:14px;}
*html h1{float:left;margin:27px 0 0 7px;}

.search {float:left;width:530px;height:28px;margin:22px 0 0 113px;border:0px solid red;}
.search li {float:left;}
.search li.option_txt {font-weight:bold;color:#454545;padding-top:6px;}
.search li.search_box {margin:0 6px 0 14px; .margin:0 4px 0 6px;}
  
.utility {float:right;margin:22px 10px 0 0px;width:188px;height:28px;}
*html .utility {float:right;margin:22px 5px 0 0px;width:188px;height:28px;}
.utility li {float:left;}


.left_chk {background:url(../../images/inc/box01_03.gif) repeat-y;border:0px solid red;margin:0px;padding-top:1px;padding-left:5px;}
.left_chk h2{background:url(../../images/inc/leftTitleBg.gif) no-repeat;height:26px;_height:25px;border:0px solid red;padding:8px 0 0 24px;.padding:9px 0 0 28px;color:#ffffff;font-weight:bold;}
/*.left_chk h2 a:slink, a:hover, a:visited, a:active {color:#ffffff;font-weight:bold;}
*/
.left_chk h2 .replay{float:right;margin-right:15px;.position:absolute;.margin-left:70px;.border:0px solid red;}


.chk_menu li{border-bottom:1px solid #d2d2d2;height:20px;_height:19px;background:url(../../images/inc/bullet_01.gif) no-repeat 15px;padding:6px 0 0 23px;_padding:7px 0 0 23px;font-weight:bold;}

.left_bg {width:205px;border:0px solid red;height:4px; background-color:#f7f7f7;}
.left_bg li{float:left;height:4px;_margin-bottom:-10px;}
.left_bg li.left_bg_left {width:1%;background:url(../../images/inc/box01_04.gif) no-repeat;}
.left_bg li.left_bg_right {width:99%;background:url(../../images/inc/box01_02.gif) repeat-x;}

.left_menu h3{margin:5px 0 0 4px;height:21px;_height:20px;background-color:#ececec;border-top:1px solid #cbccce;border-bottom:1px solid #cbccce;border-left:1px solid #cbccce;padding:7px 0 0 10px;_padding:8px 0 0 10px;color:#454545;font-weight:bold;}
.left_menu h3 .arrow_down {float:right;margin-right:15px;margin-top:3px;.position:absolute;.margin-left:112px;}
.menu_list {margin-top:3px;}
.menu_list li{background:url(../../images/inc/bullet_02.gif) no-repeat 8px 8px;padding:6px 0 0 24px;color:#323232;font-weight:bold;border:0px solid red}
.menu_list02 {margin-top:2px;border:0px solid red;}
.menu_list02 li{background:url(../../images/inc/bullet_02.gif) no-repeat 8px 8px;padding:7px 0 0 24px;color:#323232;font-weight:bold;border:0px solid red}

.smenu {margin-top:4px;}
.smenu li{background:url(../../images/inc/bullet_03.gif) no-repeat 2px 4px;margin:0px;font-weight:normal;padding:0 0 4px 13px;border:0px solid red;}
.smenu02 {margin-top:6px;overflow-y:scroll;height:470px;width:185px;}
.smenu02 li{background:url(../../images/inc/bullet_08.gif) no-repeat 2px 4px;margin:0px;font-weight:normal;padding:0 0 4px 13px;border:0px solid red;}




/* ===================================================================== SUB ===================================================================== */
.path_navi {height:38px;background-color:#f2f2f2;border-bottom:1px solid #d7d7d7;}
.path_navi li {float:left;}
.path_navi .stitle {background:url(../../images/inc/bullet_05.gif) no-repeat 15px 15px;padding:14px 0 0 38px;font-size:14px;font-weight:bold;color:#000000;  background-color:#f2f2f2;}
.path_navi .navi {background:url(../../images/ico/ico_home.gif) no-repeat 0 2px;float:right;padding-left:15px;margin-top:12px;margin-right:10px;font-size:11px; color:#878787; border:0px solid red;}

.stxt {float:left;margin:15px 0 10px 15px;border:0px solid red;}
.stxt_right {float:right;margin:15px 35px 0 0;}

.section01 {clear:both;margin:0px 20px 20px 20px;border:0px solid red;padding-top:10px;}

.th_plus {font-weight:normal; background:url(../../images/btn/btn_plus.gif) no-repeat 0 2px;.margin-top:-17px;padding-left:12px;border:0px solid red;float:right;margin-right:10px;color:#333333;font-size:11px;}
.th_stitle {background:url(../../images/inc/bullet_06.gif) no-repeat 0 2px;padding-top:1px; padding-left:16px;color:#3762a3;border:0px solid red;font-weight:bold;}
.th_stitle2 {background:url(../../images/inc/bullet_07.gif) no-repeat 0 2px;padding-left:16px;margin-left:20px;border:0px solid red;}
.th_count {.margin-top:-17px;padding-left:12px;border:0px solid red;float:right;margin-right:10px;color:#333333;font-size:11px;}



/* popup  */
#pop_message{width:500px; height:415px; background-color:#074181;}

#pop_top{background:url(../../images/inc/pop_topBg.gif) repeat-x; height:22px; padding-top:8px; padding-left:13px;font-weight:bold; color:#fff; }
#pop_top li{float:left; margin-right:8px;}

#pop_file{width:340px; height:140px; background-color:#074181;}
#pop_file_con{margin:0 5px 5px 5px; width:330px; height:105px; background-color:#ffffff;}
#pop_file_con ul{width:100%; padding-top:5px;}
#pop_file_con li{padding:5px 5px 0 5px; }
#pop_file_con li.file_btn{float:right;}

#pop_file02{width:340px; height:225px; background-color:#074181;}

#pop_con{margin:0 5px 5px 5px; width:490px; height:380px; background-color:#ffffff;}
#pop_con table{width:100%;}

#pop_con thead {background:url(../../images/inc/pop_th_bg.gif) repeat-x;}
#pop_con thead th {height:34px;text-align:center; font-size:12px; font-weight:bold; color:#515151;}
#pop_con thead th input {float:right; margin-right:2px;.margin-right:5px;}
#pop_con thead th.th_left {background:url(../../images/inc/pop_th_left.gif) no-repeat left top;}
#pop_con thead th.th_right {background:url(../../images/inc/pop_th_right.gif) no-repeat right top}

#pop_con tbody td{padding:8px; color:#454545;}
#pop_con tbody td.subtitle{border-bottom:dotted 1px #666666;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con tbody td.subtitle2{border-bottom:dotted 1px #666666;}

#pop_con p{height:1px; border-bottom:1px solid #7a7a7a; margin:2px 8px 0 8px; _margin:-15px 8px 0 8px;}

.pop_btn_area {float:right; margin-top:6px; margin-right:8px;}
.pop_btn_area02 {position:absolute; top:550px; right:285px; border:0px solid red;}
.pop_btn_area03 {float:right; margin-top:-2px;.margin-top:-15px; margin-right:17px; .margin-right:15px;_margin-right:10px;}
.pop_btn_area04 {float:right; margin-top:12px; margin-right:8px;}


#pop_con02{margin:0 5px 5px 5px; width:490px; height:380px; background-color:#ffffff;}
#pop_con02 table{width:100%;}
#pop_con02 thead th {height:34px; color:#515151; border-bottom:dotted 1px #666666;}
#pop_con02 thead th.title {border-bottom:dotted 1px #666666;font-weight:bold;background-color:#f2f2f2;text-align:center; }
#pop_con02 thead th.title2 {padding-left:10px;}
#pop_con02 tbody td{padding:8px; color:#454545; border:0px solid red;}
#pop_con02 p{height:1px; border-bottom:1px solid #7a7a7a; margin:2px 8px 0 8px; _margin:-15px 8px 0 8px;}

#pop_con03{margin:0 5px 5px 5px; width:490px; height:380px; background-color:#ffffff;}
#pop_con03 table{width:100%; }
#pop_con03 thead th {padding-left:20px; height:90px; color:#515151; line-height:18px; border-bottom:solid 1px #666666;}
#pop_con03 tbody td{padding:8px; color:#454545; border-bottom:dotted 1px #666666;}
#pop_con03 tbody td.title {font-weight:bold;background-color:#f2f2f2;text-align:center; }
#pop_con03 tbody td.title2 {padding-left:10px;}

#pop_con04{margin:0 5px 5px 5px; width:490px; height:380px; background-color:#ffffff;}
#pop_con04 table{width:100%; border-bottom:1px solid #7a7a7a;}
#pop_con04 thead {margin:0; padding:0;}
#pop_con04 thead th {height:34px; text-align:center;font-size:12px; font-weight:bold; color:#515151;}
#pop_con04 thead th.title {text-align:center;background:url(../../images/inc/pop_th_bg.gif) repeat-x;height:34px;}
#pop_con04 thead th.th_left {background:url(../../images/inc/pop_th_left.gif) no-repeat left top;}
#pop_con04 thead th.th_right {background:url(../../images/inc/pop_th_right.gif) no-repeat right top}
#pop_con04 tbody td{padding:6px;border-bottom:1px solid #e1e1e1; color:#454545; text-align:center;}

#pop_con05{margin:0 5px 5px 5px; width:330px; height:190px; background-color:#ffffff;}
#pop_con05 table{width:100%;}
#pop_con05 tbody td{padding:8px; color:#454545; border:0px solid red;}
#pop_con05 tbody td.subtitle{border-bottom:dotted 1px #666666;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con05 tbody td.subtitle2{border-bottom:dotted 1px #666666;}


#pop_banner{width:550px; height:420px; background-color:#074181;}
#pop_con06{margin:0 5px 5px 5px; width:540px; height:385px; background-color:#ffffff;}
#pop_con06 table{width:100%;}
#pop_con06 tbody td{padding:5px; height:30px; color:#454545; border:0px solid red;}
#pop_con06 tbody td.subtitle{border-bottom:dotted 1px #666666;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con06 tbody td.subtitle2{border-bottom:dotted 1px #666666;}
#pop_con06 tbody td.bannerImg {border-left:1px solid #666666; text-align:center;}


#pop_expense{width:560px; height:280px; background-color:#074181;}
#pop_con07{margin:0 5px 5px 5px; width:550px; height:245px; background-color:#ffffff;}
#pop_con07 table{table-layout:fixed;width:100%; margin:0; padding:0;}
#pop_con07 thead th.th_center{height:34px;text-align:center;font-weight:bold;color:#515151;background:url(../../images/admin/inc/pop_th_bg.gif) repeat-x;}
#pop_con07 thead th.th_left {background:url(../../images/admin/inc/pop_th_left.gif) no-repeat left top;}
#pop_con07 thead th.th_right {background:url(../../images/admin/inc/pop_th_right.gif) no-repeat right top;}

#pop_con07 tbody tr.subtitle td{border-bottom:1px solid #cdcccc;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con07 tbody tr.subtitle02 td{border-top:1px solid #cdcccc;border-bottom:1px solid #cdcccc;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con07 tbody td{margin:0;height:30px; color:#454545;border-bottom:1px solid #e4e4e4;}
#pop_con07 tbody td input{margin-left:7px;width:75px;text-align:right;}

#pop_expense02{width:560px; height:380px; background-color:#074181;}
#pop_con08{margin:0 5px 5px 5px; width:550px; height:345px; background-color:#ffffff;}
#pop_con08 table{table-layout:fixed;width:100%; margin:0; padding:0;border-bottom:1px solid #cdcccc;}
#pop_con08 thead th.th_center{height:34px;text-align:center;font-weight:bold;color:#515151;background:url(../../images/admin/inc/pop_th_bg.gif) repeat-x;}
#pop_con08 thead th.th_left {background:url(../../images/admin/inc/pop_th_left.gif) no-repeat left top;}
#pop_con08 thead th.th_right {background:url(../../images/admin/inc/pop_th_right.gif) no-repeat right top;}

#pop_con08 tbody tr.subtitle td{border-bottom:1px solid #cdcccc;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con08 tbody tr.subtitle02 td{border-top:1px solid #cdcccc;border-bottom:1px solid #cdcccc;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con08 tbody td{margin:0;height:30px; color:#454545;}
#pop_con08 tbody td input{width:75px;text-align:right;}

#pop_con08 tbody td ul{border:0px solid red;float:left;margin:0 2px 5px 9px;_margin:0 3px 0 7px;.padding-bottom:5px;}
#pop_con08 tbody td ul li{margin-top:5px;}


.expense_stxt {width:100%;margin:0;padding:0; border-collapse:collapse;}
.expense_stxt table{margin:0; padding:0;}
.expense_stxt caption{display:none;}
.expense_stxt tbody td.title{margin:0; padding:0;background-color:#f5f5f5;text-align:center;font-weight:bold;}



#pop_add{width:680px; height:600px; background-color:#074181;}

#pop_con03{margin:0 5px 5px 5px; width:660px; height:546px; background-color:#ffffff; padding:14px 5px 5px 5px;}
.ad_stitle {background:url(../../images/inc/bullet_06.gif) no-repeat 0 2px;color:#3762a3;border:0px solid red;}
.group_info{float:left; margin:0; padding:0;}
.group_info dt{padding-left:17px;}
.group_info dd{border:0px solid red;width:217px;height:523px;margin-top:8px;padding-top:2px;background:url(../../images/inc/pop_groupBg.gif) no-repeat;} 

.member_info{float:right; margin:0; padding:0;}
.member_info dt{padding-left:17px;}
.member_info dd{border:0px solid red;width:426px;height:523px;margin-top:8px;padding:11px 0 0 12px;background:url(../../images/inc/pop_memberBg.gif) no-repeat;} 
.member_info dd img{padding-bottom:2px;}
.member_selectTxt {padding-left:15px; background:url(../../images/inc/bullet_02.gif)no-repeat 0px 1px; float:left; width:100%;font-weight:bold; color:#323232;border:0px solid red;}
.member_selectBtn {float:left; width:43px;margin:205px 9px 0 9px;}
.member_selectL {float:left; width:175px; margin-top:7px; border:0px solid red;}
.member_selectR {float:left; width:175px; margin-top:7px; border:0px solid red;}


#pop_dining{width:400px; height:240px; background-color:#074181;}
#pop_con09{margin:0 5px 5px 5px; width:390px; height:205px; background-color:#ffffff;}
#pop_con09 table{width:100%;}
#pop_con09 tbody td{padding:5px; height:30px; color:#454545; border:0px solid red;}
#pop_con09 tbody td.subtitle{border-bottom:dotted 1px #666666;font-weight:bold;background-color:#f2f2f2;text-align:center;}
#pop_con09 tbody td.subtitle2{border-bottom:dotted 1px #666666;}
#pop_con09 tbody td.bannerImg {border-left:1px solid #666666; text-align:center;}

.cursorPointer{cursor: pointer;}


.hidden {display:none;}
