/* reset.css */

@charset "utf-8";

html, body {height:100%; margin:0; padding:0;}
body{width:100%; height:100%; margin:0;padding:0;font-size:0.75em; font-family:Dotum, Gulim, Tahoma, Verdana, AppleGothic, UnDotum;color:#666666;line-height:16px;font-weight:normal;}

* html {overflow:scroll; overflow-x:auto; } /* IE hack  */
* {margin:0; padding:0;}

/* Type Selector */
div, ul, li, table, td, select, span, p, h1, h2, h3, h4, dl, dt, dd{margin:0px;padding:0px;font-size:1em;}
em {color:#ff0000;}
img {border:0; margin:0; padding:0; vertical-align:top;}

.u{text-decoration:underline;} 
.b{font-weight:bold;} 
.nb{font-weight:normal;}
.cb{height:0px;clear:both;line-height:0px;}

table {border-collapse:collapse; border-spacing:0; font-size:1em;}
caption, th, td {text-align:left;font-weight:normal;}
caption {display:none;}
table, td, th {}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
/* //Type Selector */

/* Tag (Heading) */
h1, h2, h3, h4, h5, h6 {margin:0; padding:0; font-weight:normal; font-size:1em;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

/* Tag (Construction) */
strong {font-weight: bold;}
em {font-style:normal;} 
dfn {font-style: normal; } 
abbr {  } /*<abbr title="reference">ref</abbr>  */ 
acronym {  } /*  <acronym title="world wide web">www</acronym> */
blockquote { margin: 0; padding: 0; } /* block */
q {  } /* inline */
sup { font-size: 0.92em; }
sub { font-size: 0.92em; } 

/* Tag etc */
pre
{margin: 1em 0; white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }

/* Tag (List) */
ul, dl {margin:0; padding:0; list-style:none; }
li {margin:0; padding:0; background:transparent; }
ul ul, ul ul ul, ul ul ul ul {padding:0 0 0.5em 0; }
ol {  }
dt, dd {margin:0; padding:0;}

address {font-style: normal;}
hr {display:none;}

form {margin:0; padding:0; }
fieldset {margin:0; padding:0; border:0;}
legend {margin:0; padding:0; display:none; }
* html legend {position: absolute; left: 0; top: -1em; }
*:first-child+html legend { position: absolute; left: 0; top: -1em; }


.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clear {display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}

/* Template */
.allcontents { position: absolute; text-indent: -5000px; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
.bgnone { background: none !important; }
.png24 { tmp:expression(setPng24(this)); }

 /*-------------------- text -------------------------------*/
.T11 {font-size:11px; font-weight:normal;}
.normal {font-weight:normal;}

.T_blue {color:#537cb7;}
.T_green {color:#709e21;}
.T_or {color:#eb7237;}
.T_red {color:#b63b3b;}
.T_black {color:#b63b3b;}

/* link */
A:link    { COLOR: #666666; font-size:1em; TEXT-DECORATION:none}
A:visited { COLOR: #666666; font-size:1em; TEXT-DECORATION:none}
A:active  { COLOR: #666666; font-size:1em; TEXT-DECORATION:none}
A:hover   { COLOR: #333333; font-size:1em; TEXT-DECORATION:none}

/*-------------------- padding, margin -------------------------------*/
.pL5 {padding-left:5px;}
.pL7 {padding-left:7px; .padding-left:4px;}				/*main-searchbox*/
.pL10 {padding-left:10px;}
.pL15 {padding-left:15px;}
.pL20 {padding-left:20px;}

.pR5 {padding-right:5px;}
.pR10 {padding-right:10px;}
.pR15 {padding-right:15px;}
.pR20 {padding-right:20px;}

.pT5 {padding-top:5px;}
.pT10 {padding-top:10px;}
.pT15 {padding-top:15px;}
.pT20 {padding-top:20px;}

.pB5 {padding-bottom:5px;}
.pB10 {padding-bottom:10px;}
.pB15 {padding-bottom:15px;}
.pB20 {padding-bottom:20px;}
.pB30 {padding-bottom:30px;}
.pB250 {padding-bottom:250px;}

.mL5 {margin-left:5px;}
.mL10 {margin-left:10px;}
.mL15 {margin-left:15px;}
.mL20 {margin-left:20px;}

.mR5 {margin-right:5px;}
.mR10 {margin-right:10px;}
.mR15 {margin-right:15px;}
.mR20 {margin-right:20px;}

.mT5 {margin-top:5px;}
.mT10 {margin-top:10px;}
.mT15 {margin-top:15px;}
.mT20 {margin-top:20px;}

.mB5 {margin-bottom:5px;}
.mB10 {margin-bottom:10px;}
.mB15 {margin-bottom:15px;}
.mB20 {margin-bottom:20px;}
.mB100 {margin-bottom:100px;}


/*-------------------- grid -------------------------*/
input.span_1, textarea.span_1, select.span_1 {width:30px!important;}
input.span_2, textarea.span_2, select.span_2 {width:40px!important;}
input.span_3, textarea.span_3, select.span_3 {width:50px!important;} 
input.span_4, textarea.span_4, select.span_4 {width:60px!important;}
input.span_5, textarea.span_5, select.span_5 {width:80px!important;}
input.span_6, textarea.span_6, select.span_6 {width:100px!important;}
input.span_7, textarea.span_7, select.span_7 {width:130px!important;} 
input.span_8, textarea.span_8, select.span_8 {width:150px!important;}
input.span_9, textarea.span_9, select.span_9 {width:160px!important;}  
input.span_10, textarea.span_10, select.span_10 {width:180px!important;} 
input.span_11, textarea.span_11, select.span_11 {width:195px!important;}  
input.span_12, textarea.span_12, select.span_12 {width:400px!important;} 
input.span_13, textarea.span_13, select.span_13 {width:320px!important;} 
input.span_14, textarea.span_14, select.span_14 {width:510px!important;} 
input.span_15, textarea.span_15, select.span_15 {width:520px!important;} 
input.span_16, textarea.span_16, select.span_16 {width:580px!important;}
input.span_17, textarea.span_17, select.span_17 {width:300px!important;} 
input.span_18, textarea.span_18, select.span_18 {width:490px!important;} 
input.span_19, textarea.span_19, select.span_19 {width:370px!important;}
input.span_20, textarea.span_20, select.span_20 {width:305px!important;} 
input.span_21, textarea.span_21, select.span_21 {width:670px!important;}
input.span_22, textarea.span_22, select.span_22 {width:450px!important;}
input.span_23, textarea.span_23, select.span_23 {width:550px!important;}
input.span_24, textarea.span_24, select.span_24 {width:500px!important;}
input.span_25, textarea.span_25, select.span_25 {width:462px!important;}
input.span_26, textarea.span_26, select.span_26 {width:20px!important;}
input.span_27, textarea.span_27, select.span_27 {width:230px!important;}
input.span_28, textarea.span_28, select.span_28 {width:290px!important;}
input.span_29, textarea.span_29, select.span_29 {width:220px!important;}
input.span_175, textarea.span_175, select.span_175 {width:175px!important;} 
input.height_35,textarea.height_35, select.height_35 {height:35px;}
input.height_70,textarea.height_70, select.height_70 {height:70px;}
input.height_130, textarea.height_130, select.height_130 {height:130px!important;}
input.height_170, textarea.height_170, select.height_170 {height:170px!important;}
input.height_234, textarea.height_234, select.height_234 {height:234px!important;}
input.height_274, textarea.height_274, select.height_274 {height:274px!important;}
input.height_430, textarea.height_430, select.height_430 {height:430px!important;}

/* forms.css */
label{ cursor:pointer; _cursor /**/:hand;}

input {margin:0; font-family:Dotum; color:#666666;line-height:16px;}
/***input {margin:0; font-family:Dotum; color:#666666;}*/
.input01 {margin:1px 0 2px 0; border:1px solid #b7b7b7; font-family:Dotum; color:#666666; height:17px; vertical-align:middle;}

select {border:1px solid #b7b7b7;font-family:Dotum;color:#666666; height:20px;}
/***select {margin:-3px 0 2px 0;  border:1px solid #b7b7b7;font-family:Dotum;color:#666666; height:20px; vertical-align:middle;} */

.select01 {margin:1px 0 2px 0;  border:1px solid #b7b7b7;font-family:Dotum;color:#666666; height:20px; vertical-align:middle;}
textarea {padding:5px; font-family:Dotum; font-size:12px; color:#666666; border:1px solid #b7b7b7; width:96%;}
input.radio {vertical-align:middle; margin:-2px 1px 1px 1px;.padding:0px;.margin:-2px -2px 2px -2px;}
input.check {vertical-align:middle; margin:-1px 1px 1px 1px;.padding:0px;.margin:-2px -2px 2px -2px;}

.search_txt{border:2px solid #2852a0;width:370px;height:24px;}
.txt_blue {color:#2278c5;}
.txt_blue2 {color:#009ede;}
.txt_blue3 {color:#0e71c7;font-size:11px;}
.txt_blue4 {color:#c0f7ff;font-size:11px;font-weight:normal;}
.txt_red {color:#cb1035;}
.txt_red2 {color:#cb1035;font-size:11px;}
.txt_grey {color:#404040;font-size:11px;}
.txt_grey2 {color:#999999;}
.txt_greyU {color:#c9c9c9;text-decoration:line-through;}
.txtB_blue {color:#038da7;font-weight:bold;}
.txtB_blue2 {color:#0e71c7;font-weight:bold;}
.txtB_red {color:#c50000;font-weight:bold;}
.txtB_red2 {color:#c50000;font-weight:bold; font-size:14px;}
.txtB_orange {color:#fe6000;font-weight:bold;}
.txtB_green {color:#39a404;font-weight:bold;}
.txtB_green2 {color:#5f987a;font-weight:bold;}
.txtB_grey {color:#555555;font-weight:bold;}
.txtB_Black {color:#222222;font-weight:bold;}
.txtB_Black2 {color:#222222;font-weight:bold; font-size:14px;}


.txtS_blue{color:#016ce3;}
.txtS_red{color:#ff0000;}
.txtS_yellow{color:#868107;}
.txtS_yellow2{color:#ca7303;}
.txtS_green{color:#3b7c88;}
.txtS_grey{color:#404040;}
.txtS_bold{font-weight:bold;}

/* input text */
.search_txt02 {height:18px; border:1px solid #b4b4b4;line-height:18px; padding-left:2px;}
.replyW_txt {width:525px;height:39px;border:1px solid #b8b8b8; margin:5px 0; }
.replyW_txt02 {width:480px;height:39px;border:1px solid #b8b8b8; margin:5px 0; }
.write_input {width:580px;border:1px solid #b8b8b8;height:18px; }
.write_input02 {width:300px;border:1px solid #b8b8b8;height:18px; }
.write_input03 {width:120px;border:1px solid #b8b8b8;height:18px; }
.write_input04 {width:80px;border:1px solid #b8b8b8;height:18px; }
.write_input05 {width:380px;.width:375px;border:1px solid #b8b8b8;height:18px;}
.write_input06 {width:350px;.width:345px;border:1px solid #b8b8b8;height:18px;}
.write_input07 {width:95%;border:1px solid #b8b8b8; vertical-align:middle;}
.write_input08 {width:250px;.width:345px;border:1px solid #b8b8b8;height:18px;}
.write_input09 {width:200px;border:1px solid #b8b8b8;height:18px; }
.write_input10 {width:60px;border:1px solid #b8b8b8;height:18px; }
.write_input11 {width:70px;border:1px solid #b8b8b8;height:18px; }

/* input text */
.search_txt02 {height:18px;border:1px solid #b4b4b4;}
.replyW_txt {width:525px;height:39px;border:1px solid #b8b8b8; margin:5px 0;}
.write_input {width:580px;border:1px solid #b8b8b8;height:18px;}
.write_input02 {width:300px;border:1px solid #b8b8b8;height:18px;}
.write_input03 {width:120px;border:1px solid #b8b8b8;height:18px;}
.write_input04 {width:80px;border:1px solid #b8b8b8;height:18px;}
.write_input05 {width:380px;.width:375px;border:1px solid #b8b8b8;height:18px;}
.write_input06 {width:120px;border:1px solid #b8b8b8;height:18px;}
.write_input07 {width:20px;border:1px solid #b8b8b8;height:18px;}
.read_input {width:50px;border:0px solid #fff; height:18px; background:transparent;text-align:center;}
.read_input2{width:80px;border:0px solid #fff; height:18px; background:transparent;text-align:center;}

