@charset "utf-8";

/* Page Base */
@import url(base.css);
/* Page Base */
@import url(style.css);
/* Page Layout */
@import url(layout.css);
/* Template Design */
@import url(board.css);
/* Content Design */
/*@import url(section.css);*/
/* Content Design */
@import url(layer.css);
/* Content Design */
@import url(print.css);

/*  print  */
@media print {
#head, #visual, #sidebar, #body_foot, #foot, #wing, #fontsize { display: none; }
#container { background: #fff; }
#body { margin: 0; padding: 0; background: #fff;}
}
